In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv('ARP_MitM_dataset.csv')
df

,1.000000000000000000e+00,1.294000000000000000e+03,0.000000000000000000e+00,1.000000000000000000e+00.1,1.294000000000000000e+03.1,0.000000000000000000e+00.1,1.000000000000000000e+00.2,1.294000000000000000e+03.2,0.000000000000000000e+00.2,1.000000000000000000e+00.3,...,0.000000000000000000e+00.48,0.000000000000000000e+00.49,0.000000000000000000e+00.50,1.000000000000000000e+00.24,1.294000000000000000e+03.28,0.000000000000000000e+00.51,1.294000000000000000e+03.29,0.000000000000000000e+00.52,0.000000000000000000e+00.53,0.000000000000000000e+00.54
0,1.000000,1514.000000,0.000000e+00,1.000000,1514.000000,0.000000e+00,1.000000,1514.000000,0.000000e+00,1.000000,...,0.000000e+00,0.0,0.0,1.000000,1514.000000,0.000000,1514.000000,0.000000e+00,0.0,0.0
1,1.999505,1294.000000,6.984919e-10,1.999703,1294.000000,2.328306e-10,1.999901,1294.000000,6.984919e-10,1.999990,...,0.000000e+00,0.0,0.0,1.999999,1294.000000,0.000000,1294.000000,0.000000e+00,0.0,0.0
2,2.998985,1294.000000,9.313226e-10,2.999391,1294.000000,4.656613e-10,2.999797,1294.000000,6.984919e-10,2.999980,...,6.984919e-10,0.0,0.0,2.999998,1294.000000,0.000015,1294.000000,2.328306e-10,0.0,0.0
3,3.998061,1294.000000,9.313226e-10,3.998836,1294.000000,2.328306e-10,3.999612,1294.000000,6.984919e-10,3.999961,...,2.328306e-10,0.0,0.0,3.999996,1294.000000,0.000000,1294.000000,0.000000e+00,0.0,0.0
4,4.996578,1294.000000,6.984919e-10,4.997946,1294.000000,4.656613e-10,4.999315,1294.000000,0.000000e+00,4.999932,...,4.656613e-10,0.0,0.0,4.999993,1294.000000,0.000000,1294.000000,0.000000e+00,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2504261,380.551133,1331.684771,1.895906e+05,650.148549,1336.357995,1.865743e+05,1973.033776,1339.428666,1.851917e+05,19664.853626,...,1.813631e+05,0.0,0.0,28040.717202,1341.152101,425.618618,1341.152101,1.811512e+05,0.0,0.0
2504262,379.629067,1332.165017,1.891785e+05,649.176314,1336.631637,1.863354e+05,1972.036680,1339.517190,1.851133e+05,19663.862251,...,1.813090e+05,0.0,0.0,28041.433233,1341.158265,425.612280,1341.158265,1.811458e+05,0.0,0.0
2504263,380.276647,1332.643182,1.887678e+05,649.814659,1336.904590,1.860970e+05,1972.670406,1339.605640,1.850348e+05,19664.496996,...,1.812549e+05,0.0,0.0,28042.381146,1341.164429,425.605943,1341.164429,1.811404e+05,0.0,0.0
2504264,379.354717,1333.121248,1.883566e+05,648.842152,1337.177530,1.858584e+05,1971.672375,1339.694090,1.849564e+05,19663.504357,...,1.812009e+05,0.0,0.0,28043.096975,1341.170592,425.599606,1341.170592,1.811350e+05,0.0,0.0
2504265,379.951197,1333.597306,1.879468e+05,649.427959,1337.449804,1.856203e+05,1972.252742,1339.782469,1.848780e+05,19664.085817,...,1.811468e+05,0.0,0.0,28044.037284,1341.176755,425.593269,1341.176755,1.811296e+05,0.0,0.0

In [ ]:
df1=df[['1.000000000000000000e+00','1.294000000000000000e+03','0.000000000000000000e+00','1.000000000000000000e+00.1','1.294000000000000000e+03.1','0.000000000000000000e+00.1','1.000000000000000000e+00.2','1.294000000000000000e+03.2','0.000000000000000000e+00.2','0.000000000000000000e+00.48']]
df2=df1[2000000:2050000]
df2

,1.000000000000000000e+00,1.294000000000000000e+03,0.000000000000000000e+00,1.000000000000000000e+00.1,1.294000000000000000e+03.1,0.000000000000000000e+00.1,1.000000000000000000e+00.2,1.294000000000000000e+03.2,0.000000000000000000e+00.2,0.000000000000000000e+00.48
2000000,144.478531,1265.320282,175668.084258,253.117149,1277.824564,160640.003771,826.483001,1290.982900,145920.911199,182248.115745
2000001,373.916430,1321.833291,203801.532797,626.221363,1326.372207,198233.665461,1927.565435,1333.363790,189741.637756,181632.107509
2000002,145.416346,1258.056172,182080.507970,254.051777,1273.617450,164486.657744,827.411844,1289.675228,147157.721156,182635.550268
2000003,374.689718,1322.346160,203355.905290,626.993522,1326.671457,197973.558110,1928.331635,1333.457465,189660.153267,181577.982069
2000004,375.548256,1322.856491,202911.960963,627.851480,1326.969821,197714.042170,1929.186006,1333.551049,189578.729578,181523.887193
...,...,...,...,...,...,...,...,...,...,...
2049995,399.692220,1312.557259,214630.629533,650.176898,1322.079730,203875.160621,1924.986519,1336.229009,188232.753080,182265.682277
2049996,400.466384,1313.060280,214195.754626,650.956453,1322.374558,203618.463951,1925.768936,1336.321320,188151.410695,182211.353821
2049997,401.266568,1313.561043,213762.328019,651.761553,1322.668570,203362.305094,1926.576722,1336.413545,188070.127618,182157.055930
2049998,402.103802,1314.059519,213330.383666,652.602916,1322.961752,203106.696853,1927.420402,1336.505682,187988.905307,182102.788679
2049999,402.892210,1314.555782,212899.863030,653.396850,1323.254129,202851.619193,1928.217513,1336.597733,187907.741740,182048.551914

In [ ]:
df_l=pd.read_csv('ARP_MitM_labels.csv')
df_label=df_l[2000000:2050000]
df_label

         Unnamed: 0  x
2000000     2000001  1
2000001     2000002  1
2000002     2000003  1
2000003     2000004  1
2000004     2000005  1
...             ... ..
2049995     2049996  1
2049996     2049997  1
2049997     2049998  1
2049998     2049999  1
2049999     2050000  1

[50000 rows x 2 columns]

In [ ]:
y_value=df_label['x']
y_value

2000000    1
2000001    1
2000002    1
2000003    1
2000004    1
          ..
2049995    1
2049996    1
2049997    1
2049998    1
2049999    1
Name: x, Length: 50000, dtype: int64

In [ ]:
from sklearn.preprocessing import MinMaxScaler
sc = MinMaxScaler(feature_range=(0,1))
scaled_df = sc.fit_transform(df2)
scaled_df

array([[0.27446968, 0.88568543, 0.36930917, ..., 0.94518064, 0.30525629,
        0.98344002],
       [0.71337679, 0.92721195, 0.42845446, ..., 0.97772179, 0.39692617,
        0.98011595],
       [0.27626369, 0.88034767, 0.38279008, ..., 0.94417658, 0.30784361,
        0.98553068],
       ...,
       [0.76569669, 0.92113339, 0.44939516, ..., 0.98006347, 0.39342949,
        0.98294865],
       [0.7672983 , 0.92149968, 0.44848708, ..., 0.98013422, 0.39325958,
        0.98265582],
       [0.76880649, 0.92186434, 0.44758199, ..., 0.9802049 , 0.39308979,
        0.98236315]])

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train,y_test= train_test_split(scaled_df,y_value, test_size=0.2)

In [ ]:
from sklearn.svm import SVC
model=SVC(kernel='linear')

In [ ]:
model.fit(scaled_df,y_value)

SVC(kernel='linear')

In [ ]:
model.score(x_test,y_test)

0.9538